# Etapa de preparação e processamento dos dados

In [30]:
import pandas as pd

In [83]:
# lendo os arquivos csv
df1 = pd.read_csv('dados/dados-brasileirao.csv')
df2 = pd.read_csv('dados/brasileirao_odds.csv')

In [32]:
df1.head()

,Unnamed: 0,serie,temporada,estadio,cidade,estado,dia_semana,dia_numero,mes,ano,hora,mandante,visitante,gol_mandante,gol_visitante,vitoria_mandante,vitoria_visitante,jogo_empatado,ponto_mandante,ponto_visitante
0,0,A,2012,Pacaembu,Sao Paulo,SP,Sábado,19,Maio,2012,18:30,Palmeiras - SP,Portuguesa - SP,1,1,0,0,1,1,1
1,1,A,2012,Ilha do Retiro,Recife,PE,Sábado,19,Maio,2012,18:30,Sport - PE,Flamengo - RJ,1,1,0,0,1,1,1
2,2,A,2012,Orlando Scarpelli,Florianopolis,SC,Sábado,19,Maio,2012,21:00,Figueirense - SC,Náutico - PE,2,1,1,0,0,3,0
3,3,A,2012,Moisés Lucarelli,Campinas,SP,Domingo,20,Maio,2012,16:00,Ponte Preta - SP,Atlético - MG,0,1,0,1,0,0,3
4,4,A,2012,Pacaembu,Sao Paulo,SP,Domingo,20,Maio,2012,16:00,Corinthians - SP,Fluminense - RJ,0,1,0,1,0,0,3

In [33]:
# pegando dados somente de 2021, 2022, 2023 de df1 
df_cbf = df1[df1['temporada'].isin([2021, 2022, 2023])].reset_index(drop=True)


df_cbf.head()

,Unnamed: 0,serie,temporada,estadio,cidade,estado,dia_semana,dia_numero,mes,ano,hora,mandante,visitante,gol_mandante,gol_visitante,vitoria_mandante,vitoria_visitante,jogo_empatado,ponto_mandante,ponto_visitante
0,3419,A,2021,Arena Pantanal,Cuiaba,MT,Sábado,29,Maio,2021,19:00,Cuiabá - MT,Juventude - RS,2,2,0,0,1,1,1
1,3420,A,2021,Pituaçu,Salvador,BA,Sábado,29,Maio,2021,20:00,Bahia - BA,Santos - SP,3,0,1,0,0,3,0
2,3421,A,2021,Morumbi,Sao Paulo,SP,Sábado,29,Maio,2021,21:00,São Paulo - SP,Fluminense - RJ,0,0,0,0,1,1,1
3,3422,A,2021,Mineirão,Belo Horizonte,MG,Domingo,30,Maio,2021,11:00,Atlético Mineiro - MG,Fortaleza - CE,1,2,0,1,0,0,3
4,3423,A,2021,Maracanã,Rio de Janeiro,RJ,Domingo,30,Maio,2021,16:00,Flamengo - RJ,Palmeiras - SP,1,0,1,0,0,3,0

In [34]:
# contando o numero de linhas para a temporada 2021
df_cbf[df_cbf['temporada'] == 2023].shape[0]

380

In [35]:
# contando o numero de linhas para a temporada 2022
df_cbf[df_cbf['temporada'] == 2022].shape[0]

380

In [36]:
# contando o numero de linhas para a temporada 2023
df_cbf[df_cbf['temporada'] == 2023].shape[0]

380

In [37]:
# Ajustar os nomes das colunas de df2 para corresponderem aos de df_cbf para a fusão
df2.rename(columns={'Year': 'ano', 'Time': 'hora', 'Home Team': 'mandante', 
                    'Away Team': 'visitante', 'Home Score': 'gol_mandante', 
                    'Away Score': 'gol_visitante'}, inplace=True)

df2.head()

,ano,hora,mandante,gol_mandante,gol_visitante,visitante,Odd 1,Odd X,Odd 2
0,2021,21:30,America MG,2,0,Sao Paulo,2.00,3.32,3.98
1,2021,21:30,Atletico GO,2,0,Flamengo RJ,1.72,3.89,4.57
2,2021,21:30,Bragantino,1,0,Internacional,1.90,3.65,4.01
3,2021,21:30,Juventude,1,0,Corinthians,2.25,3.10,3.52
4,2021,21:30,Fluminense,3,0,Chapecoense-SC,1.19,6.62,15.82

In [38]:
# listando os times únicos de df1
times = df_cbf['mandante'].unique()

print(times)

['Cuiabá - MT' 'Bahia - BA' 'São Paulo - SP' 'Atlético Mineiro - MG'
 'Flamengo - RJ' 'Ceará - CE' 'Chapecoense - SC' 'Corinthians - SP'
 'Athletico Paranaense - PR' 'Internacional - RS' 'Atlético - GO'
 'Red Bull Bragantino - SP' 'Santos - SP' 'Fluminense - RJ' 'America - MG'
 'Fortaleza - CE' 'Palmeiras - SP' 'Juventude - RS' 'Sport - PE'
 'Grêmio - RS' 'Coritiba - PR' 'Botafogo - RJ' 'Avaí - SC' 'Goiás - GO'
 'América Fc Saf - MG' 'Cuiabá Saf - MT' 'América Saf - MG'
 'Atlético Mineiro Saf - MG' 'Cruzeiro Saf - MG'
 'Vasco da Gama S.a.f. - RJ' 'Coritiba S.a.f. - PR']

In [39]:
# listando os times únicos de df2
times_odds = df2['mandante'].unique()

print(times_odds)

['America MG' 'Atletico GO' 'Bragantino' 'Juventude' 'Fluminense'
 'Fortaleza' 'Gremio' 'Palmeiras' 'Santos' 'Sport Recife' 'Chapecoense-SC'
 'Cuiaba' 'Flamengo RJ' 'Internacional' 'Athletico-PR' 'Sao Paulo' 'Ceara'
 'Atletico-MG' 'Bahia' 'Corinthians' 'Coritiba' 'Cruzeiro' 'Vasco' 'Goias'
 'Botafogo RJ' 'Avai']

In [40]:
# Dicionário de mapeamento baseado nas listas fornecidas
name_mapping = {
    'America MG': 'América Fc Saf - MG',
    'Atletico GO': 'Atlético - GO',
    'Bragantino': 'Red Bull Bragantino - SP',
    'Juventude': 'Juventude - RS',
    'Fluminense': 'Fluminense - RJ',
    'Fortaleza': 'Fortaleza - CE',
    'Gremio': 'Grêmio - RS',
    'Palmeiras': 'Palmeiras - SP',
    'Santos': 'Santos - SP',
    'Sport Recife': 'Sport - PE',
    'Chapecoense-SC': 'Chapecoense - SC',
    'Cuiaba': 'Cuiabá Saf - MT',
    'Flamengo RJ': 'Flamengo - RJ',
    'Internacional': 'Internacional - RS',
    'Athletico-PR': 'Athletico Paranaense - PR',
    'Sao Paulo': 'São Paulo - SP',
    'Ceara': 'Ceará - CE',
    'Atletico-MG': 'Atlético Mineiro Saf - MG',
    'Bahia': 'Bahia - BA',
    'Corinthians': 'Corinthians - SP',
    'Goias': 'Goiás - GO',
    'Botafogo RJ': 'Botafogo - RJ',
    'Avai': 'Avaí - SC',
    'Coritiba': 'Coritiba - PR',
    'Cruzeiro': 'Cruzeiro Saf - MG',
    'Vasco': 'Vasco da Gama S.a.f. - RJ'
}

# Aplicar o mapeamento para as colunas 'mandante' e 'visitante' no df2
df2['mandante'] = df2['mandante'].map(name_mapping)
df2['visitante'] = df2['visitante'].map(name_mapping)

# Verifique se há alguma entrada que não foi mapeada corretamente
print(df2[df2['mandante'].isnull() | df2['visitante'].isnull()])

df2.head()

Empty DataFrame
Columns: [ano, hora, mandante, gol_mandante, gol_visitante, visitante, Odd 1, Odd X, Odd 2]
Index: []

,ano,hora,mandante,gol_mandante,gol_visitante,visitante,Odd 1,Odd X,Odd 2
0,2021,21:30,América Fc Saf - MG,2,0,São Paulo - SP,2.00,3.32,3.98
1,2021,21:30,Atlético - GO,2,0,Flamengo - RJ,1.72,3.89,4.57
2,2021,21:30,Red Bull Bragantino - SP,1,0,Internacional - RS,1.90,3.65,4.01
3,2021,21:30,Juventude - RS,1,0,Corinthians - SP,2.25,3.10,3.52
4,2021,21:30,Fluminense - RJ,3,0,Chapecoense - SC,1.19,6.62,15.82

In [49]:
# contando o numero de linhas para a temporada 2022
df2[df2['ano'] == 2023].shape[0]

400

In [65]:
df_merged = pd.merge(df_cbf, df2, on=['ano', 'mandante', 'visitante'], how='right')

df_merged.head()

,Unnamed: 0,serie,temporada,estadio,cidade,estado,dia_semana,dia_numero,mes,ano,...,vitoria_visitante,jogo_empatado,ponto_mandante,ponto_visitante,hora_y,gol_mandante_y,gol_visitante_y,Odd 1,Odd X,Odd 2
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,...,NaN,NaN,NaN,NaN,21:30,2,0,2.00,3.32,3.98
1,3798.0,A,2021.0,Antônio Accioly,Goiania,GO,Quinta,9.0,Dezembro,2021,...,0.0,0.0,3.0,0.0,21:30,2,0,1.72,3.89,4.57
2,3796.0,A,2021.0,Nabi Abi Chedid,Braganca Paulista,SP,Quinta,9.0,Dezembro,2021,...,0.0,0.0,3.0,0.0,21:30,1,0,1.90,3.65,4.01
3,3797.0,A,2021.0,Alfredo Jaconi,Caxias do Sul,RS,Quinta,9.0,Dezembro,2021,...,0.0,0.0,3.0,0.0,21:30,1,0,2.25,3.10,3.52
4,3789.0,A,2021.0,Maracanã,Rio de Janeiro,RJ,Quinta,9.0,Dezembro,2021,...,0.0,0.0,3.0,0.0,21:30,3,0,1.19,6.62,15.82

In [66]:
# Remover linhas onde a coluna 'serie' é nula
df_merged = df_merged[df_merged['serie'].notna()]


# contando o numero de linhas do dataframe df_merged
df_merged.shape[0]

960

In [70]:
# contando numero de linhas para o ano 2021
print(df_merged[df_merged['ano'] == 2021].shape[0])

272

In [68]:
# contando numero de linhas para o ano 2022
print(df_merged[df_merged['ano'] == 2022].shape[0])

360

In [69]:
# contando numero de linhas para o ano 2023
print(df_merged[df_merged['ano'] == 2023].shape[0])

328

In [47]:
# salvando o dataframe em um arquivo csv
df_merged.to_csv('dados/brasileirao_2021_2023.csv', index=False)

#  salvando o dataframe em um arquivo excel
df_merged.to_excel('dados/brasileirao_2021_2023.xlsx', index=False)

In [73]:
import pandas as pd
import json

# Carregar o arquivo JSON
with open('dados/aa.json', 'r') as file:
    json_data = json.load(file)

# Criar uma lista para armazenar dados de cada jogo
game_list = []

# Iterar sobre cada jogo no JSON
for game in json_data['d']['rows']:
    game_info = {
        'Game ID': game['id'],
        'Home Team': game['home-name'],
        'Away Team': game['away-name'],
        'Home Score': game['homeResult'],
        'Away Score': game['awayResult'],
        'Result': game['result'],
        'Odds 1': game['odds'][0]['avgOdds'] if game['odds'] else None,
        'Odds X': game['odds'][1]['avgOdds'] if len(game['odds']) > 1 else None,
        'Odds 2': game['odds'][2]['avgOdds'] if len(game['odds']) > 2 else None
    }
    game_list.append(game_info)

# Criar DataFrame a partir da lista de jogos
df_games = pd.DataFrame(game_list)

# Exibir o DataFrame
print(df_games.head())

   Game ID   Home Team     Away Team Home Score Away Score Result  Odds 1  \
0  6528501       Bahia   Atletico-MG          4          1    4:1    2.53
1  6528500    Coritiba   Corinthians          0          2    0:2    3.27
2  6528498    Cruzeiro     Palmeiras          1          1    1:1    3.93
3  6528502      Cuiaba  Athletico-PR          3          0    3:0    2.31
4  6528493  Fluminense        Gremio          2          3    2:3    2.08

   Odds X  Odds 2
0    3.53    2.70
1    3.23    2.31
2    2.86    2.26
3    3.11    3.39
4    3.79    3.28

In [74]:
len(df_games)

50

In [75]:
df2

,ano,hora,mandante,gol_mandante,gol_visitante,visitante,Odd 1,Odd X,Odd 2
0,2021,21:30,América Fc Saf - MG,2,0,São Paulo - SP,2.00,3.32,3.98
1,2021,21:30,Atlético - GO,2,0,Flamengo - RJ,1.72,3.89,4.57
2,2021,21:30,Red Bull Bragantino - SP,1,0,Internacional - RS,1.90,3.65,4.01
3,2021,21:30,Juventude - RS,1,0,Corinthians - SP,2.25,3.10,3.52
4,2021,21:30,Fluminense - RJ,3,0,Chapecoense - SC,1.19,6.62,15.82
...,...,...,...,...,...,...,...,...,...
1195,2022,21:45,Corinthians - SP,0,2,Fluminense - RJ,2.25,3.09,3.52
1196,2022,21:45,Goiás - GO,2,2,América Fc Saf - MG,2.98,3.16,2.50
1197,2022,21:45,Internacional - RS,2,1,Ceará - CE,1.63,3.73,5.76
1198,2022,19:30,Botafogo - RJ,2,1,Red Bull Bragantino - SP,2.30,3.19,3.29
1199,2022,21:45,Flamengo - RJ,3,2,Santos - SP,1.39,4.71,8.20

In [86]:
# verficiando quantas linhas duplicadas existem no dataframe df2
df2.duplicated().sum()

# visualizando as linhas duplicadas
df2[df2.duplicated()]

,Year,Time,Home Team,Home Score,Away Score,Away Team,Odd 1,Odd X,Odd 2
50,2021,21:30,America MG,2,0,Sao Paulo,2.00,3.32,3.98
51,2021,21:30,Atletico GO,2,0,Flamengo RJ,1.72,3.89,4.57
52,2021,21:30,Bragantino,1,0,Internacional,1.90,3.65,4.01
53,2021,21:30,Juventude,1,0,Corinthians,2.25,3.10,3.52
54,2021,21:30,Fluminense,3,0,Chapecoense-SC,1.19,6.62,15.82
...,...,...,...,...,...,...,...,...,...
1195,2022,21:45,Corinthians,0,2,Fluminense,2.25,3.09,3.52
1196,2022,21:45,Goias,2,2,America MG,2.98,3.16,2.50
1197,2022,21:45,Internacional,2,1,Ceara,1.63,3.73,5.76
1198,2022,19:30,Botafogo RJ,2,1,Bragantino,2.30,3.19,3.29
1199,2022,21:45,Flamengo RJ,3,2,Santos,1.39,4.71,8.20

In [85]:
len(df2)

1200

In [92]:
import pandas as pd

# Criar um DataFrame
data = {
    'Nome': ['Ana', 'Bruno', 'Carla', 'Ana', 'Eduardo', 'Bruno'],
    'Idade': [25, 30, 35, 25, 40, 31],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Porto Alegre', 'Rio de Janeiro']
}

df = pd.DataFrame(data)

# visualizar as linhas duplicadas
df[df.duplicated()]

  Nome  Idade     Cidade
3  Ana     25  São Paulo